WVS_Cross-National_Wave_7_R_v2_0.rds
WV6_Data_R_v20201117.rdata
Tadawul All Share Historical Data.csv
Nikkei 225 Historical Data.csv
DAX Historical Data.csv
API_EG.USE.PCAP.KG.OE_DS2_en_csv_v2_3470803.csv
Metadata_Country_API_EG.USE.PCAP.KG.OE_DS2_en_csv_v2_3470803.csv
Metadata_Indicator_API_EG.USE.PCAP.KG.OE_DS2_en_csv_v2_3470803.csv